/* THE NECESSARY CODE FOR THE RESPONSIVE TABS
IS BELOW THE "NAVBAR" COMMENT
AND ABOVE THE "MAIN CONTENTS" COMMENT */

/* RESET */
/* Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public do.main) */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: "Times New Roman", Times;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* WHOLE PAGE */

body {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
}

main {
    width: 95vw;
    height: 83.5vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 30px #aaa);
    border-radius: 5px;
}

#colorSwitcher {
    position: fixed;
    top: .5rem;
    left: 1rem;
    height: 2.5rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

#colorSwitcher span {
    height: .3rem;
    width: 100%;
    border-radius: 10px;
    background-color: #222;
    transition: transform 300ms, opacity 300ms;
}

#colorSwitcher span:first-child.on {
    transform-origin: left center;
    transform: rotate(45deg);
}

#colorSwitcher span:nth-child(2).on {
    opacity: 0;
}

#colorSwitcher span:last-child.on {
    transform-origin: left center;
    transform: rotate(-45deg);
}

#colorSwitcher span:first-child.off {
    transform-origin: left center;
    transform: rotate(0);
}

#colorSwitcher span:nth-child(2).off {
    opacity: 1;
}

#colorSwitcher span:last-child.off {
    transform-origin: left center;
    transform: rotate(0);
}

#colorSwitcherMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #dddb;
    transform: translateY(-300px);
    opacity: 0;
    filter: drop-shadow(0 0 50px #7777);
    transition: all 200ms ease-in-out;
    z-index: 1;
}

#colorSwitcherMenu.on {
    transform: translateY(0px);
    opacity: 1;
}

#colorSwitcherMenu.off {
    transform: translateY(-300px);
    opacity: 0;
}

#colorSwitcherMenu a {
    display: inline-block;
    padding: .3rem;
    font-size: 1.2rem;
    text-decoration: unset;
    color: #222;
    transition: all 100ms;
}

#colorSwitcherMenu a:hover {
    transform: scale(1.2);
}

#colorSwitcherMenu a:active,
#colorSwitcherMenu a:visited {
    color: #222;
}

/* NAVBAR */

header {
    width: 100%;
    max-width: 100vw;
    height: 12vh;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.5rem 0;
}

nav > p {
    flex: 1;
    padding: .3rem 1rem;
    margin: 0 2rem;
    text-align: center;
    font-size: 1.15rem;
    letter-spacing: .5pt;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: drop-shadow(0 0 10px #aaa);
    border-radius: 3px;
    transition: all 500ms;
}

nav > p:first-child {
    background-color:hsl(242, 17%, 60%);
}

nav > p:nth-child(2) {
    background-color:hsl(242, 17%, 75%);
}

nav > p:nth-child(3) {
    background-color:hsl(242, 17%, 90%);
}

nav > p:nth-child(4) {
    background-color:hsl(354, 20%, 75%);
}

nav > p:nth-child(5) {
    background-color: hsl(354, 20%, 60%);
}

/* MAIN CONTENTS */

.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-box > h1 {
    font-size: 4rem;
    color: #222;
    letter-spacing: 1.5pt;
}

#svg-wrapper {
    margin-top: 2rem;
    width: 40vw;
    height: 100%;
}

#variationOne,
#variationTwo,
#variationThree {
    transition: all 500ms;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
}